*{
    margin: 0;
    box-sizing: border-box;
}
body{
    justify-content:space-between;
    padding: 0;
    background-color:#f2f9fe;
    border-radius: 50%;
    box-shadow: 1px 2px 3px w
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#696e71;
    height: 950px;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 750px;
    height: 560px;
    gap: 15px;
    box-shadow: 2px 4px 3px 2px #000;
    border-radius: 15px;
}
label{
    font-size: 35px;
}
input,select{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
}
#valide{
    font-size: 25px;
    background: green;
    border-radius: 10px;
}