*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:aliceblue;
}
form{
    margin-top:10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:2px solid black;
    box-shadow:2px 3px 5px 4px black;
    
}
.tete{
    font-size:30px;
    background:gray;
    height: 50px;
}
span{
    margin-top:9px;
    font-size:20px;
}
.forme,.forme1,.forme2,.forme3,.forme4,.forme5{
    padding:15px;
    flex:1;
    gap: 25px;
    display:flex;
   
}
.forme input{
 margin-left:100px;
}
.forme2 input{
    margin-left:135px;
}
.forme3 input{
    margin-left:78px;
}
.forme4 input{
    margin-left:33px;
}
label{
    font-size:25px;
    text-decoration: underline;
}
button{
    padding:5px;
    font-size:30px;
    border-radius:10px;
}
.forme5{
    display:flex;
    justify-content:center;
    gap:45px;
    background:gray;
}
input{
    border-radius:10px;
    height: 40px;
    
}